# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# will skip config files too if real because my github is public only
# *.ini
# *.conf
# *.cfg

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
